name: Builds Artifact and Release

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

env:
  PROJECT_TYPE: EFI

jobs:
  build:
    name: Build
    runs-on: macos-latest
    permissions:
      contents: write
    env:
      JOB_TYPE: BUILD

    steps:
    - uses: actions/checkout@v4.2.2

    - name: Zip EFI
      run: |
        rm -Rf TOOLS
        rm -Rf "Debug Bios V 1.25.0"
        rm -Rf Screenshot
        rm -Rf "TOOLS EFI MOD"
        rm -Rf .gitignore
        rm -Rf "ioreg MacBook Pro 16,2.ioreg"
        rm -Rf README.md
        rm -Rf opencore-2023-11-07-192719.txt
        rm -Rf "DRIVER WIN X64 DW1830.zip"
        rm -Rf ".github"
        rm -Rf ".git"
        
        zip -r DellVostro5501.zip .
        
    - name: Upload artifact
      uses: actions/upload-artifact@v4.4.3
      with:
        name: DellVostro5501
        path: DellVostro5501.zip
        
    - name: Upload build
      uses: svenstaro/upload-release-action@2.9.0
      if: github.event_name != 'pull_request'
      with:
         repo_token: ${{ secrets.GITHUB_TOKEN }}
         file: ./*.zip
         tag: ${{ github.ref }}
         release_name: EFI DellVostro5501 Hackintosh
         body: ${{ github.event_name != 'release' && github.event.head_commit.message || '' }}
         file_glob: true
         overwrite: true
